<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h2 style="border-radius: 10px 20px 0px 0px;background-color: #0a9b79;color: white;padding: 10px;">LOGIN TO FACE RECOGNITION BASED ATTENDANCE SYSTEM</h2>
            </div>
        </div>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="username" style="border-radius: 20px 20px 0px 0px;background-color: #6d0695;color: white;padding: 10px;">USERNAME:</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password" style="border-radius: 20px 20px 0px 0px;background-color: #6d0695;color: white;padding: 10px;">PASSWORD:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>